MI Return NCCIS 2015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by tom (CV) -->
<!-- Developed for the NCCIS Database by Tom Wedge(CareerVision Ltd) -->
<!-- 
    Date : 09/12/2014 Tom Wedge
    1. Renamed LDDFlag to SENDFlag
    2. Added new CohortStatus code L. 
    3. Updated the CohortStatus descriptions to match the NCCIS Guidance document
    3. Added new ActivityCode 290
    4. Added new ActivityCode 615
    5. Updated ActivityCode descriptions to match the NCCIS Guidence document
    6. Updated intended destination codes and descriptions to match NCCIS Guidance document

	Date : 12/12/2013 Rebecca Stevens
	 1. Removed node ActivitySurveyStatus
	 2. Removed node JoiningFromOALEA
	 3. Removed node LeavingToOALEA
	 4. New Activity Codes added
	 5. Added TransferredToLACode field to PersonalDetails Node
	 6. New CohortStatus Codes added
	 7. Added UKProviderReferenceNumber to Activities Node
	 	
	Date : 23/01/2013 Tom Wedge
	  1. Added PredictedEndDate field to Cohort Node
	  2. New Activity Codes added

	Date : 27/03/2012 Tom Wedge
	  1. Added Name and Address fields to PersonalDetails Node

	Date : 07/03/2012 Tom Wedge
	  1. Added to the range of values for ActivitySurveyStatusType to 2015
	  2. Update the appinfo section setting the Indentifier and Project to 2012
	
	Date : 08/02/2012 Tom Wedge
	  1. Added new fields for collection of Youth Contract
	
    Date : 03/05/2011 Tom Wedge
      1. Corrected some minor issues, id tag in root node and the creator e-mail addrsss in the meta data node

    Date : 12/04/2011 Tom Wedge
      1. Removed nodes "IntendedDestinationYr12" and "IntendedDestinationYr13"
         as this information in no longer being collected

    Date : 09/02/2011 Tom Wedge
      1. Updated schema based on fields requirements in "NCCIS MI Requirement v1.2.doc"

	Date : 03/02/2011 Tom Wedge
  	  1. Created schema based on fields in "NCCIS MI Requirement v1.0.doc"

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="NCCIS2011">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Audience>CCIS Developers</Audience>
				<Contributor>Tom Wedge, CareerVision Ltd(mailto:tom.wedge@careervision.co.uk)</Contributor>
				<Contributor>Dfe</Contributor>
				<Creator>CareerVision Ltd (mailto:hq@careervision.co.uk)</Creator>
				<Date>
					<Created>2011-02-03</Created>
				</Date>
				<Date>
					<Modified>2014-12-09</Modified>
				</Date>
				<Description>Schema for transfer of CCIS Management Information data to NCCIS for 2015 - 2016</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>NCCIS2015</Identifier>
				<Publisher>e-Government Unit, Stockley House,130 Wilton Road, London SW1V 1LQ</Publisher>
				<Subject>
					<Category>Education, careers and employment</Category>
				</Subject>
				<Subject>
					<Project>NCCIS2014</Project>
				</Subject>
				<Title>MI Return from Connexions to NCCIS schema 2015</Title>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="FileHeader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Databases">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DatabaseId" type="xsd:string" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SourceLEAs">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LEACode" type="LEAType" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DateOfSend" type="xsd:date"/>
				<xsd:element name="PeriodEnd" type="xsd:date"/>
				<xsd:element name="SupplierName" type="xsd:string"/>
				<xsd:element name="SupplierXMLVersion" type="xsd:string"/>
				<xsd:element name="XMLSchemaVersion" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="YoungPersonsRecord">
		<xsd:sequence>
			<xsd:element name="PersonalDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="YoungPersonsID" type="xsd:string"/>
						<xsd:element name="CohortStatus" type="CohortStatusType"/>
						<xsd:element name="GivenName" type="xsd:string"/>
						<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
						<xsd:element name="FamilyName" type="xsd:string"/>
						<xsd:element name="AddressLine1" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
						<xsd:element name="AddressLine4" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Town" type="xsd:string" minOccurs="0"/>
						<xsd:element name="County" type="xsd:string" minOccurs="0"/>
						<xsd:element name="Postcode" type="xsd:string"/>
						<xsd:element name="Gender" type="GenderType"/>
						<xsd:element name="DOB" type="xsd:date"/>
						<xsd:element name="Ethnicity" type="EthnicityType"/>
						<xsd:element name="LeadLEA" type="LEAType"/>
						<xsd:element name="EducatedLEA" type="LEAType"/>
						<xsd:element name="TransferredToLACode" type="LEAType" minOccurs="0"/>
						<xsd:element name="LEACodeAtYear11" type="LEAType" minOccurs="0"/>
						<xsd:element name="UniqueLearnerNo" type="xsd:string" minOccurs="0"/>
						<xsd:element name="UniquePupilNumber" type="xsd:string" minOccurs="0"/>
						<xsd:element name="GuaranteeStatusIndicator" type="YesNoType" minOccurs="0"/>
						<xsd:element name="YouthContractIndicator" type="YesNoType" minOccurs="0"/>
						<xsd:element name="YouthContractStartDate" type="xsd:date" minOccurs="0"/>
						<xsd:element name="PreviousYPIDIdentifier" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SeptemberGuarantee" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Year11" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="GuaranteeStatus" type="GuaranteeStatusType"/>
									<xsd:element name="LEACode" type="LEAType"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Year12" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="GuaranteeStatus" type="GuaranteeStatusType"/>
									<xsd:element name="LEACode" type="LEAType"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LevelOfNeed">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LevelOfNeedCode" type="LevelOfNeedType"/>
						<xsd:element name="SENDFlag" type="YesNoType"/>
						<xsd:element name="Characteristics" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="CharacteristicCode" type="CharacteristicType" minOccurs="0" maxOccurs="unbounded"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Activities" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cohort">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ActivityCode" type="ActivityType"/>
									<xsd:element name="StartDate" type="xsd:date"/>
									<xsd:element name="DateAscertained" type="xsd:date"/>
									<xsd:element name="DateVerified" type="xsd:date" minOccurs="0"/>
									<xsd:element name="ReviewDate" type="xsd:date" minOccurs="0"/>
									<xsd:element name="DueToLapseDate" type="xsd:date" minOccurs="0"/>
									<xsd:element name="CurrencyLapsed" type="YesNoType" minOccurs="0"/>
									<xsd:element name="EstablishmentNumber" type="NumericSeven" minOccurs="0"/>
									<xsd:element name="EstablishmentName" type="xsd:string" minOccurs="0"/>
									<xsd:element name="UKProviderReferenceNumber" type="xsd:string" minOccurs="0"/>
									<xsd:element name="NEETStartDate" type="xsd:date" minOccurs="0"/>
									<xsd:element name="PredictedEndDate" type="xsd:date" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IntendedDestination" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IntendedDestinationYr11" type="IntDestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================ Data Definition Types ================================================================  -->
	<xsd:simpleType name="CohortStatusType">
		<xsd:annotation>
			<xsd:documentation>
				P=Primary cohort
				G=No longer in primary cohort but covered by September Guarantee
				A=Age reached where an active record is no longer required
				T=Transferred to another LA so no longer an “active record”
				E=Left England so no longer an active record 
				M=Found to be a duplicate record 
				D=The young person is deceased
				L=Young person aged 20 – 25 whose EHCP/LDA has ceased 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="G"/>
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="L"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YesNoType">
		<xsd:annotation>
			<xsd:documentation>
				Y - Yes
				N - No
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="Y|N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GenderType">
		<xsd:annotation>
			<xsd:documentation>
				F = Female 
				M = Male
				U = Unknown
				W = Withheld
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="F|M|U|W"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EthnicityType">
		<xsd:annotation>
			<xsd:documentation>
			WBRI = WHITE BRITISH
			WIRI = WHITE IRISH
			WROM = WHITE GYPSY/ROMA
			WOTH = ANY OTHER WHITE BACKGROUND
			MWBC = WHITE AND BLACK CARIBBEAN
			MWBA = WHITE AND BLACK AFRICAN
			MWAS = WHITE AND ASIAN
			MOTH = ANY OTHER MIXED BACKGROUND
			AIND = INDIAN
			APKN = PAKISTANI
			ABAN = BANGLADESHI
			AOTH = ANY OTHER ASIAN BACKGROUND
			BCRB = CARIBBEAN
			BAFR = AFRICAN
			BOTH = ANY OTHER BLACK BACKGROUND
			CHNE = CHINESE
			OOTH = ANY OTHER ETHNIC GROUP
			OARA = ARAB
			REFU = REFUSED
			NOBT = INFORMATION NOT OBTAINED
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="WBRI"/>
			<xsd:enumeration value="WIRI"/>
			<xsd:enumeration value="WROM"/>
			<xsd:enumeration value="WOTH"/>
			<xsd:enumeration value="MWBC"/>
			<xsd:enumeration value="MWBA"/>
			<xsd:enumeration value="MWAS"/>
			<xsd:enumeration value="MOTH"/>
			<xsd:enumeration value="AIND"/>
			<xsd:enumeration value="APKN"/>
			<xsd:enumeration value="ABAN"/>
			<xsd:enumeration value="AOTH"/>
			<xsd:enumeration value="BCRB"/>
			<xsd:enumeration value="BAFR"/>
			<xsd:enumeration value="BOTH"/>
			<xsd:enumeration value="CHNE"/>
			<xsd:enumeration value="OOTH"/>
			<xsd:enumeration value="OARA"/>
			<xsd:enumeration value="REFU"/>
			<xsd:enumeration value="NOBT"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LevelOfNeedType">
		<xsd:annotation>
			<xsd:documentation>
			1 = Intensive Support 
			2 = Supported 
			3 = Minimum Intervention
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="1|2|3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LEAType">
		<xsd:annotation>
			<xsd:documentation>
				000=Abroad
				001=Wales
				002=Scotland
				003=Other UK Provence
				004=Unknown Area
				201=CITY OF LONDON
				202=CAMDEN
				203=GREENWICH
				204=HACKNEY
				205=HAMMERSMITH - FULHAM
				206=ISLINGTON
				207=KENSINGTON - CHELSEA
				208=LAMBETH
				209=LEWISHAM
				210=SOUTHWARK
				211=TOWER HAMLETS
				212=WANDSWORTH
				213=WESTMINSTER
				301=BARKING - DAGENHAM
				302=BARNET
				303=BEXLEY
				304=BRENT
				305=BROMLEY
				306=CROYDON
				307=EALING
				308=ENFIELD
				309=HARINGEY
				310=HARROW
				311=HAVERING
				312=HILLINGDON
				313=HOUNSLOW
				314=KINGSTON-UPON-THAMES
				315=MERTON
				316=NEWHAM
				317=REDBRIDGE
				318=RICHMOND-UPON-THAMES
				319=SUTTON
				320=WALTHAM FOREST
				330=BIRMINGHAM
				331=COVENTRY
				332=DUDLEY
				333=SANDWELL
				334=SOLIHULL
				335=WALSALL
				336=WOLVERHAMPTON
				340=KNOWSLEY
				341=LIVERPOOL
				342=ST HELENS
				343=SEFTON
				344=WIRRAL
				350=BOLTON
				351=BURY
				352=MANCHESTER
				353=OLDHAM
				354=ROCHDALE
				355=SALFORD
				356=STOCKPORT
				357=TAMESIDE
				358=TRAFFORD
				359=WIGAN
				370=BARNSLEY
				371=DONCASTER
				372=ROTHERHAM
				373=SHEFFIELD 
				380=BRADFORD
				381=CALDERDALE
				382=KIRKLEES
				383=LEEDS
				384=WAKEFIELD
				390=GATESHEAD
				391=NEWCASTLE UPON TYNE
				392=NORTH TYNESIDE
				393=SOUTH TYNESIDE
				394=SUNDERLAND
				420=ISLES OF SCILLY 
				800=BATH - NORTH EAST SOMERSET
				801=BRISTOL
				802=NORTH SOMERSET
				803=SOUTH GLOUCESTERSHIRE
				805=HARTLEPOOL
				806=MIDDLESBROUGH
				807=REDCAR - CLEVELAND
				808=STOCKTON-ON-TEES
				810=KINGSTON-UPON-HULL
				811=EAST RIDING OF YORKSHIRE
				812=NORTH EAST LINCOLNSHIRE
				813=NORTH LINCOLNSHIRE
				815=NORTH YORKSHIRE
				816=YORK
				821=LUTON
				822=BEDFORD BOROUGH
				823=CENTRAL BEDFORDSHIRE
				825=BUCKINGHAMSHIRE
				826=MILTON KEYNES
				830=DERBYSHIRE
				831=DERBY
				835=DORSET
				836=POOLE
				837=BOURNEMOUTH
				840=DURHAM
				841=DARLINGTON
				845=EAST SUSSEX
				846=BRIGHTON - HOVE
				850=HAMPSHIRE
				851=PORTSMOUTH
				852=SOUTHAMPTON
				855=LEICESTERSHIRE
				856=LEICESTER
				857=RUTLAND
				860=STAFFORDSHIRE
				861=STOKE
				865=WILTSHIRE
				866=SWINDON
				867=BRACKNELL FOREST
				868=WINDSOR - MAIDENHEAD
				869=WEST BERKSHIRE
				870=READING
				871=SLOUGH
				872=WOKINGHAM
				873=CAMBRIDGESHIRE
				874=PETERBOROUGH
				876=HALTON
				877=WARRINGTON
				878=DEVON
				879=PLYMOUTH
				880=TORBAY 
				881=ESSEX
				882=SOUTHEND
				883=THURROCK
				884=HEREFORDSHIRE
				885=WORCESTERSHIRE
				886=KENT
				887=MEDWAY
				888=LANCASHIRE
				889=BLACKBURN WITH DARWEN
				890=BLACKPOOL
				891=NOTTINGHAMSHIRE
				892=NOTTINGHAM
				893=SHROPSHIRE
				894=THE WREKIN
				895=CHESHIRE EAST
				896=CHESHIRE WEST AND CHESTER
				908=CORNWALL
				909=CUMBRIA
				916=GLOUCESTERSHIRE
				919=HERTFORDSHIRE
				921=ISLE OF WIGHT
				925=LINCOLNSHIRE
				926=NORFOLK
				928=NORTHAMPTONSHIRE
				929=NORTHUMBERLAND
				931=OXFORDSHIRE
				933=SOMERSET
				935=SUFFOLK
				936=SURREY
				937=WARWICKSHIRE
				938=WEST SUSSEX
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="000"/>
			<xsd:enumeration value="001"/>
			<xsd:enumeration value="002"/>
			<xsd:enumeration value="003"/>
			<xsd:enumeration value="004"/>
			<xsd:enumeration value="201"/>
			<xsd:enumeration value="202"/>
			<xsd:enumeration value="203"/>
			<xsd:enumeration value="204"/>
			<xsd:enumeration value="205"/>
			<xsd:enumeration value="206"/>
			<xsd:enumeration value="207"/>
			<xsd:enumeration value="208"/>
			<xsd:enumeration value="209"/>
			<xsd:enumeration value="210"/>
			<xsd:enumeration value="211"/>
			<xsd:enumeration value="212"/>
			<xsd:enumeration value="213"/>
			<xsd:enumeration value="301"/>
			<xsd:enumeration value="302"/>
			<xsd:enumeration value="303"/>
			<xsd:enumeration value="304"/>
			<xsd:enumeration value="305"/>
			<xsd:enumeration value="306"/>
			<xsd:enumeration value="307"/>
			<xsd:enumeration value="308"/>
			<xsd:enumeration value="309"/>
			<xsd:enumeration value="310"/>
			<xsd:enumeration value="311"/>
			<xsd:enumeration value="312"/>
			<xsd:enumeration value="313"/>
			<xsd:enumeration value="314"/>
			<xsd:enumeration value="315"/>
			<xsd:enumeration value="316"/>
			<xsd:enumeration value="317"/>
			<xsd:enumeration value="318"/>
			<xsd:enumeration value="319"/>
			<xsd:enumeration value="320"/>
			<xsd:enumeration value="330"/>
			<xsd:enumeration value="331"/>
			<xsd:enumeration value="332"/>
			<xsd:enumeration value="333"/>
			<xsd:enumeration value="334"/>
			<xsd:enumeration value="335"/>
			<xsd:enumeration value="336"/>
			<xsd:enumeration value="340"/>
			<xsd:enumeration value="341"/>
			<xsd:enumeration value="342"/>
			<xsd:enumeration value="343"/>
			<xsd:enumeration value="344"/>
			<xsd:enumeration value="350"/>
			<xsd:enumeration value="351"/>
			<xsd:enumeration value="352"/>
			<xsd:enumeration value="353"/>
			<xsd:enumeration value="354"/>
			<xsd:enumeration value="355"/>
			<xsd:enumeration value="356"/>
			<xsd:enumeration value="357"/>
			<xsd:enumeration value="358"/>
			<xsd:enumeration value="359"/>
			<xsd:enumeration value="370"/>
			<xsd:enumeration value="371"/>
			<xsd:enumeration value="372"/>
			<xsd:enumeration value="373"/>
			<xsd:enumeration value="380"/>
			<xsd:enumeration value="381"/>
			<xsd:enumeration value="382"/>
			<xsd:enumeration value="383"/>
			<xsd:enumeration value="384"/>
			<xsd:enumeration value="390"/>
			<xsd:enumeration value="391"/>
			<xsd:enumeration value="392"/>
			<xsd:enumeration value="393"/>
			<xsd:enumeration value="394"/>
			<xsd:enumeration value="420"/>
			<xsd:enumeration value="800"/>
			<xsd:enumeration value="801"/>
			<xsd:enumeration value="802"/>
			<xsd:enumeration value="803"/>
			<xsd:enumeration value="805"/>
			<xsd:enumeration value="806"/>
			<xsd:enumeration value="807"/>
			<xsd:enumeration value="808"/>
			<xsd:enumeration value="810"/>
			<xsd:enumeration value="811"/>
			<xsd:enumeration value="812"/>
			<xsd:enumeration value="813"/>
			<xsd:enumeration value="815"/>
			<xsd:enumeration value="816"/>
			<xsd:enumeration value="821"/>
			<xsd:enumeration value="822"/>
			<xsd:enumeration value="823"/>
			<xsd:enumeration value="825"/>
			<xsd:enumeration value="826"/>
			<xsd:enumeration value="830"/>
			<xsd:enumeration value="831"/>
			<xsd:enumeration value="835"/>
			<xsd:enumeration value="836"/>
			<xsd:enumeration value="837"/>
			<xsd:enumeration value="840"/>
			<xsd:enumeration value="841"/>
			<xsd:enumeration value="845"/>
			<xsd:enumeration value="846"/>
			<xsd:enumeration value="850"/>
			<xsd:enumeration value="851"/>
			<xsd:enumeration value="852"/>
			<xsd:enumeration value="855"/>
			<xsd:enumeration value="856"/>
			<xsd:enumeration value="857"/>
			<xsd:enumeration value="860"/>
			<xsd:enumeration value="861"/>
			<xsd:enumeration value="865"/>
			<xsd:enumeration value="866"/>
			<xsd:enumeration value="867"/>
			<xsd:enumeration value="868"/>
			<xsd:enumeration value="869"/>
			<xsd:enumeration value="870"/>
			<xsd:enumeration value="871"/>
			<xsd:enumeration value="872"/>
			<xsd:enumeration value="873"/>
			<xsd:enumeration value="874"/>
			<xsd:enumeration value="876"/>
			<xsd:enumeration value="877"/>
			<xsd:enumeration value="878"/>
			<xsd:enumeration value="879"/>
			<xsd:enumeration value="880"/>
			<xsd:enumeration value="881"/>
			<xsd:enumeration value="882"/>
			<xsd:enumeration value="883"/>
			<xsd:enumeration value="884"/>
			<xsd:enumeration value="885"/>
			<xsd:enumeration value="886"/>
			<xsd:enumeration value="887"/>
			<xsd:enumeration value="888"/>
			<xsd:enumeration value="889"/>
			<xsd:enumeration value="890"/>
			<xsd:enumeration value="891"/>
			<xsd:enumeration value="892"/>
			<xsd:enumeration value="893"/>
			<xsd:enumeration value="894"/>
			<xsd:enumeration value="895"/>
			<xsd:enumeration value="896"/>
			<xsd:enumeration value="908"/>
			<xsd:enumeration value="909"/>
			<xsd:enumeration value="916"/>
			<xsd:enumeration value="919"/>
			<xsd:enumeration value="921"/>
			<xsd:enumeration value="925"/>
			<xsd:enumeration value="926"/>
			<xsd:enumeration value="928"/>
			<xsd:enumeration value="929"/>
			<xsd:enumeration value="931"/>
			<xsd:enumeration value="933"/>
			<xsd:enumeration value="935"/>
			<xsd:enumeration value="936"/>
			<xsd:enumeration value="937"/>
			<xsd:enumeration value="938"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CharacteristicType">
		<xsd:annotation>
			<xsd:documentation>
				110 - Looked after / In care
				120 - Caring for own child
				130 - Refugee / Asylum seeker
				140 - Carer not own child
				150 - Client disclosed substance misuse
				160 - Care Leaver
				170 - Supervised by YoT 
				180 - Pregnancy
				190 - Parent not caring for own child
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="110"/>
			<xsd:enumeration value="120"/>
			<xsd:enumeration value="130"/>
			<xsd:enumeration value="140"/>
			<xsd:enumeration value="150"/>
			<xsd:enumeration value="160"/>
			<xsd:enumeration value="170"/>
			<xsd:enumeration value="180"/>
			<xsd:enumeration value="190"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActivityType">
		<xsd:annotation>
			<xsd:documentation>
				For those of compulsory education age 
				110 = Registered at a school or other educational establishment in the area
				120 = Educated at home
				130 = Custodial institution
				140 = Not registered at a school or other educational establishment in the Service area
				150 = Current Situation not known

				In full time education, post Year 11.
				210 = Full time education - school sixth-form
				220 = Full time education - sixth-form college
				230 = Full time education - further education
				240 = Full time education - higher education
				250 = Part time education
				260 = Gap Year students
				270 = Full time education - other
				280 = Independent Specialist Provider
				290 = Full time education – custodial institution (juvenile offender)

				Employment
				310 = Apprenticeship
				320 = Employment combined with accredited training/part time study 
				330 = Employment without training 
				340 = Employment with non-accredited training
				350 = Temporary employment
				360 = Part Time Employment
				380 = Self Employment
				381 = Self Employment combined with part time study
				550 = Working not for reward combined with part time study

				Government supported training/LSC Funded training
				410 = EFA/SFA funded Work Based Learning
				430 = Other training (e.g. private training organisations)
				440 = Training delivered through the Work Programme
				450 = Traineeships
				460 = Supported Internship
				
				Re-engagement activities
				530 = Re-engagement Provision

				NEET Group
				540 = Working not for reward 
				610 = Those not yet ready for work or learning
				615 = Start date agreed (other) 
				616 = Start date agreed (RPA compliant) 
				619 = Seeking employment, education or training
				620 = Not available to labour market/learning Young carers
				630 = Not available to labour market/learning Teenage parents
				640 = Not available to labour market/learning Illness
				650 = Not available to labour market/learning Pregnancy
				660 = Not available to labour market/learning on religious grounds
				670 = Not available to labour market/learning those who are currently unlikely to be economically active
				680 = Not available to labour market/learing Other reason

				Other Young People not counted as EET or NEET
				710 = Custody (young adult offender)
				720 = Refugees/Asylum seekers who have not yet been granted citizenship

				Current situation not known 
				810 = Current situation not known
				820 = Cannot be contacted – no current address
				830 = Refused to disclose activity
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="110"/>
			<xsd:enumeration value="120"/>
			<xsd:enumeration value="130"/>
			<xsd:enumeration value="140"/>
			<xsd:enumeration value="150"/>
			<xsd:enumeration value="210"/>
			<xsd:enumeration value="220"/>
			<xsd:enumeration value="230"/>
			<xsd:enumeration value="240"/>
			<xsd:enumeration value="250"/>
			<xsd:enumeration value="260"/>
			<xsd:enumeration value="270"/>
			<xsd:enumeration value="280"/>
			<xsd:enumeration value="290"/>
			<xsd:enumeration value="310"/>
			<xsd:enumeration value="320"/>
			<xsd:enumeration value="330"/>
			<xsd:enumeration value="340"/>
			<xsd:enumeration value="350"/>
			<xsd:enumeration value="360"/>
			<xsd:enumeration value="380"/>
			<xsd:enumeration value="381"/>
			<xsd:enumeration value="410"/>
			<xsd:enumeration value="430"/>
			<xsd:enumeration value="440"/>
			<xsd:enumeration value="450"/>
			<xsd:enumeration value="460"/>
			<xsd:enumeration value="530"/>
			<xsd:enumeration value="540"/>
			<xsd:enumeration value="550"/>
			<xsd:enumeration value="610"/>
			<xsd:enumeration value="615"/>
			<xsd:enumeration value="616"/>
			<xsd:enumeration value="619"/>
			<xsd:enumeration value="620"/>
			<xsd:enumeration value="630"/>
			<xsd:enumeration value="640"/>
			<xsd:enumeration value="650"/>
			<xsd:enumeration value="660"/>
			<xsd:enumeration value="670"/>
			<xsd:enumeration value="680"/>
			<xsd:enumeration value="710"/>
			<xsd:enumeration value="720"/>
			<xsd:enumeration value="810"/>
			<xsd:enumeration value="820"/>
			<xsd:enumeration value="830"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IntDestType">
		<xsd:annotation>
			<xsd:documentation>
				111 = Full time education - same school
				121 = Full time education or training - other institution
				211 = Apprenticeship or traineeship
				311 = Full time employment with part time accredited study
				321 = Employment without accredited training 
				411 = Other destination
				511 = Undecided
				611 = Not obtained
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="111"/>
			<xsd:enumeration value="121"/>
			<xsd:enumeration value="211"/>
			<xsd:enumeration value="311"/>
			<xsd:enumeration value="321"/>
			<xsd:enumeration value="411"/>
			<xsd:enumeration value="511"/>
			<xsd:enumeration value="611"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GuaranteeStatusType">
		<xsd:annotation>
			<xsd:documentation>
				110 = Offer Made
				114 = Already in Learning - Continuing in Education (Only used for Year 12)
				115 = Already in Learning - Continuing in Employment with training to level 2 (Only used for Year 12)
				120 = Offer of education or training not appropriate at this time- Going into Employment without training to level 2
				122 = Offer of education or training not appropriate at this time - Personal circumstances prevent learning
 				123 = Offer of education or training not appropriate at this time - Other Reason/Offer Inappropriate at this time
				124 = Offer of education or training not appropriate at this time - Personal Development Opportunities
				140 = No Offer Made - Application made Awaiting Outcome
				150 = No Offer Made - No Appropriate Provision
				151 = No Offer Made - YP has not applied for learning
				153 = No Offer Made - Unable to contact - Known to have Moved Away
				154 = No Offer made - unable to contact - Other Reason
				159 = Guarantee status not yet recorded
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="110"/>
			<xsd:enumeration value="114"/>
			<xsd:enumeration value="115"/>
			<xsd:enumeration value="120"/>
			<xsd:enumeration value="122"/>
			<xsd:enumeration value="123"/>
			<xsd:enumeration value="140"/>
			<xsd:enumeration value="150"/>
			<xsd:enumeration value="151"/>
			<xsd:enumeration value="153"/>
			<xsd:enumeration value="154"/>
			<xsd:enumeration value="159"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AlphaTwo">
		<xsd:annotation>
			<xsd:documentation>One character alpha string
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NumericSeven">
		<xsd:annotation>
			<xsd:documentation>Seven digit numeric string
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
